<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ page.title | escape }} — {{ site.title | escape }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <!-- load hacker theme CSS -->
  <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
</head>
<body>
  <main>

    <nav style="margin-bottom:20px;">
  <a href="{{ '/' | relative_url }}">Home</a> |
  <a href="{{ '/enhancement-one-narrative/'   | relative_url }}">Enhancement 1 Narrative</a> |
  <a href="{{ '/enhancement-two-narrative/'   | relative_url }}">Enhancement 2 Narrative</a> |
  <a href="{{ '/enhancement-three-narrative/' | relative_url }}">Enhancement 3 Narrative</a> |
  <a href="https://github.com/apursley2012/eportfolio/tree/main/enhancement-one">Enhancement 1 Project Code</a> |
  <a href="https://github.com/apursley2012/eportfolio/tree/main/enhancement-two">Enhancement 2 Project Code</a> |
  <a href="https://github.com/apursley2012/eportfolio/tree/main/enhancement-three">Enhancement 3 Project Code</a> |
  <a href="https://corner-grocer-alyshaspradlin.replit.app">Enhancement Demo</a> |
</nav>

    
    {{ content }}
  </main>
</body>
</html>


